.create-profile-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    color: #ffffff;
    width: auto;
    padding: 20px;
    background-color: #303030;
    border-radius: 5px;
  }
  
  .create-profile-form h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #303030;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .create-profile-form label {
    margin-top: 10px;
  }
  
  .create-profile-form input,
  .create-profile-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
  }
  
  .create-profile-form input::placeholder,
  .create-profile-form select::placeholder {
    color: white;
    opacity: 0.7;
  }
  
  .create-profile-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2cb5e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .create-profile-form button[type="submit"]:hover {
    background-color: #29a2d1;
  }
  
  .create-profile-form .errors-list {
    margin-top: 10px;
    padding: 0;
    color: #ff0000;
    list-style: none;
  }
  
  .create-profile-form .errors-list li {
    margin-bottom: 5px;
  }
  