.home-container {
    text-align: center;
    padding: 40px;
    margin: 20px;
  }
  
  .home-title {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .home-description {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
  }
  
  .home-action-button {
    background-color: #0078D7;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .home-action-button:hover {
    background-color: #005AAB;
  }
  
  .home-subtext {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
  }
  
  .home-subtext a {
    color: #7fff00;
    /* color: #FF8C00; */
    text-decoration: none;
  }
  
  .home-subtext a:hover {
    text-decoration: underline;
  }
  