/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #303030;
    border-radius: 5px;
    color: white;
    margin: 20px;
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #303030;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .login-form input[type='text'],
  .login-form input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
  }
  
  .login-form input[type='text']::placeholder,
  .login-form input[type='password']::placeholder {
    color: white;
    opacity: 0.7;
  }
  
  .login-form input[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #2cb5e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .login-form .errors-list {
    margin-top: 10px;
    padding: 0;
    color: #ff0000;
    list-style: none;
  }
  
  .login-form .errors-list li {
    margin-bottom: 5px;
  }
  
  .login-form .errors-list li:first-child {
    margin-top: 5px;
  }
  