.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2b4;
    border-radius: 5px;
    color: #000000;
    margin: 20px;
  }
  
  .signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f2f2f206;
  }
  
  .signup-form input[type='text'],
  .signup-form input[type='email'],
  .signup-form input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
  }
  
  .signup-form button[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #2cb5e8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form .errors-list {
    margin-top: 10px;
    padding: 0;
    color: #ff0000;
    list-style: none;
  }
  
  .signup-form .errors-list li {
    margin-bottom: 5px;
  }
  
  .signup-form .errors-list li:first-child {
    margin-top: 5px;
  }
  